doctype html  
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
        link(rel='shortcut icon' href='https://image.shutterstock.com/image-vector/symbol-sign-stop-corruption-red-260nw-1027946191.jpg' type='image/x-icon') 
        
    body
        block content
        //br
        //hr
        //-footer
            a
                strong
                    i Author: Sandrine MUNGANYENDE          
            a(href="#top" #footer) Top of Page
            a
                strong
                    em Copyright©2019 Broadcaster
        // 
