body{
                background-color: lightgray;
            }
            h1{
                color:#A60303;
                text-align:center;
            }
            input{
                border-radius: 3px;
            }
            input:last-of-type {
                width:135px; 
                background-color:#A60303;
                color:white;
                border: 1px solid rgb(250, 251, 252);
                height:35px;
                font-size: 17px;
            }
            input:nth-last-of-type(2){margin-bottom:15px;}
            input#pwd{
                background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRMU-1--HouvqNJgTAm9lF30rDM3nVcyHFKgpOpy1vy6pnUxTI&s');
                background-size: 30px 25px;
                background-repeat: no-repeat;
                background-position: 2px;
                border: 1px solid rgb(250, 251, 252);
                margin-top:10px;
                padding-left: 55px;
                width: 310px;
                height:30px;
                font-size: 14px;
                box-shadow: 0 0 10px;
            }
            input#mail{
                background-image:url('https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png');
                background-size: 30px 25px;
                background-repeat: no-repeat;
                background-position: 2px;
                border: 1px solid rgb(250, 251, 252);
                margin-top:10px;
                padding-left: 55px;
                width: 310px;
                height:30px;
                font-size: 14px;
                box-shadow: 0 0 10px;
            }
            a:last-of-type{color:dodgerblue;}
            .text > a{
                color:white;
                text-decoration: none;
                font-size: 20px;
            }
            .container{
                background-color: #ECEDEE;
                padding:18px;
                border:9px solid rgb(250, 251, 252);position: relative;
            }
            label{
                display:inline-block;
                width:140px;
                text-align: right;
            }
            ::placeholder{
                text-align: left;
            }
            .flex-container{
                display: flex;
                margin-left: 132px;
                padding:150px;
               
                width:740px;
                /*position: absolute;*/
            }
            .image{
                border:3px solid black;
                border-bottom:5px solid black;
                position: relative;
            }
            .text{
                position:absolute;
                bottom:20px;
                right:20px;
                color: white;
                padding:5px;
                border:1px solid lightgray;
            }
            #pushbtn{float:right;}